#header .menu a.active{
    position: relative;
}
#header .menu a.active::before {
    width: 100%;
    content: '';
    background-color: #F2B400;
    height: 5px;
    position: absolute;
    top: 100%;
}
